@keyframes emphasis {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes drugs {
	25% {
		background-color: rgb(31, 221, 255, 0.7);
		color: black;
	}
	50% {
		background-color: #ffff00;
		color: white;
	}
	75% {
		background-color: rgb(250, 87, 101, 0.7);
		color: black;
	}
	100% {
		background-color: black;
		color: white;
	}
}

@keyframes roll_it {
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@keyframes roll_it_back {
	50% {
		transform: rotate(-180deg);
	}
	100% {
		transform: rotate(-359deg);
	}
}

@keyframes jumpIn {
	0% {
		position: relative;
		left: 100%;
	}
	100% {
		position: relative;
		left: 0px;
	}
}

@keyframes emphasisOnDrugs {
	0% {
		transform: scale(1) rotate(30deg);
	}
	33% {
		transform: scale(1.4) rotate(0deg);
	}
	66% {
		transform: scale(1.2) rotate(-30deg);
	}
	100% {
		transform: scale(1) rotate(30deg);
	}
}

.navBar {
	position: fixed;
	background: rgb(183, 241, 255);
	height: 6%;
	width: 100%;
	top: 1px;	
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.exitBar {
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: rgb(0, 0, 0);
}

.navButton {
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	max-width: 15%;
	height: 100%;
	background-color:rgb(255, 221, 72)
}

.exitButton {
	max-width: 6%;
	background-color: orangered;
}

#winnerOverlay {
	background: rgb(0,0,0,0.5);
	background-size: cover;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	z-index: 1;
	height: 100vh;
	width: 100%;
	margin: 0px;
	inset: 0px;
}

#winImageBox {
	background: url('pictures/confetti-14.gif');
	height: 70%;
	width: 32%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25%;
}

.winImage {
	border-radius: 25%;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	animation-name: emphasis;
	animation-duration: 8s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;

}

.epicButton {
	background-color: white;
}
.epicButton:hover {
	animation-name: drugs;
	animation-iteration-count: infinite;
	animation-duration: 0.1s;
}
.onDrugs {
	animation-name: drugs;
	animation-iteration-count: infinite;
	animation-duration: 1s;
}

.rolling {
	animation-name: roll_it;
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-timing-function: linear;
}

.rollingBack {
	animation-name: roll_it_back;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-timing-function: linear;
}

#winnerName {
	background-color: gold;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width: 35%;
	height: auto;
	text-align: center;
	border-radius: 25px;
	border-style: solid;
	border-color: white;
	border-width: 10px;
	padding: 5px;
	animation-name: jumpIn;
	animation-duration: 6s;
	animation-timing-function: ease-out;
}
#winnerName:hover {
	transform: scale(1.5);
}

.epicEmphasis {
	animation-name: emphasisOnDrugs !important;
	animation-iteration-count: infinite;
	animation-duration: 2s !important;
	animation-timing-function: linear !important;
}

#container {
	background: url('pictures/back3.gif') center;
	background-size: cover;
	position: fixed;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 100vh;
	width: 100%;
	margin: 0px;
	inset: 0px;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 15%;
	background-color: rgb(19, 19, 19);
	max-height: 87%;
	margin: 1% 0.5% 1% 0.5%;
	border-radius: 7% 7% 10% 10%;
	transition: height 0.4s ease-in;

}

.student-info {
	display: flex;
	flex-wrap: wrap;
	min-height: 180px;
	justify-content: center;
	align-content: flex-end;
}

.score {
	font-size: 3pc;
	display: flex;
	width: 100%;
	height: 100%;
	color: white;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	justify-content: center;
	align-items: center;
	border-radius: 7% 7% 10% 10%;
}

button {
	max-width: 20%;
	height: 70%;
	flex-basis: 20%;
	text-align: center;
	font-size: 1.5vw;
	border-style: solid;
	border-color:rgb(255, 255, 255)
}
button:hover {
	border-color: rgb(175, 175, 175);
	opacity: 0.95;
}
button:active {
	color: rgb(255, 255, 255);
	border-color:rgb(255, 255, 255);
	opacity: 0.95;
}


#plus {
	background-color: rgb(221, 255, 189);
}

#minus {
	background-color: rgb(233, 230, 230);
}

img {
	height: 70%;
	max-width: 60%;
	min-height: 70px;
	flex-basis: 60%;
}

.name-box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1vw;
	max-height: 30%;
	color: white;
	background-color: rgb(0, 0, 0);
	flex-basis: 100%;
	text-align: center;
	border-style: solid;
	border-width: 0.1em 0px 0px 0px;
	border-radius: 0% 0% 10% 10%;
}

.winner {
	background-color: gold;
	color: black;
	font-weight: bold;
}
.second {
	background-color:rgb(209, 208, 208);
	color: rgb(49, 36, 73);
	font-weight: bold;
}
.third {	
	background-color: #cd7f32;
	color: rgb(49, 36, 73);
	font-weight: bold;
}